name: Tests
on:
  pull_request:
  push:
    branches: [main]
  workflow_dispatch:
env:
  IMAGE_NAME: stata-mp
  STATA_LICENSE: ${{ secrets.STATA_LICENSE }}

jobs:

  check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: opensafely-core/setup-action@v1
        with:
          install-just: true
          python-version: "3.11"
          cache-dependency-path: "python-requirements*.txt"

      - name: Check
        run: just check

  tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: opensafely-core/setup-action@v1
        with:
          install-just: true
          python-version: "3.11"
          cache-dependency-path: "python-requirements*.txt"

      - name: Build image
        run: just build

      - name: Run tests
        run: just test
